body{
    box-sizing: border-box;
    background-color:purple;
}
.main{
    display: flex;
    margin-top: 4em;
}
.container{
    /* border: 2px solid; */
    width: 350px;
    margin: 0 auto;
    background-color:#fff;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 0;
    padding-right: 1em;
}
.container2{
    text-align: center;
    /* border: 2px solid; */
    width: 340px;
    margin: 0 auto;
    height: 50vh;
    margin-left: 0;
    padding: 2em 1em;
    background-image: url(./joy.png);
    object-fit: cover;
    background-size: cover;
    background-color: blueviolet;   
    opacity: 0.9;
    
}

.box1{
    margin-left: 1em;
}

.input1,input{
    display: block;
   
    margin-bottom: 1em;
    border: none;
    border-bottom: 2px solid gray;
     width: 95%;
    
}
 


button{
    padding: 0.5em 10em;
    border-radius: 3px;
    color: yellow;
    background-color: purple;
    margin-top: 1em;

}
span{
    color: blueviolet;
}
.para{
    margin-left: 1.5em;
}
i{
    position: absolute;
    color: #7b28e4;
}


@media(max-width:550px){
    .main{
       flex-direction: column;
        
    }
    .container{
    border: 2px solid;
    width: 350px;
    margin: 0 auto;
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    /* margin-right: 0; */
    padding-right: 1em;

}
.container2{
    text-align: center;
    /* border: 2px solid; */
    width: 335px;
    margin: 0 auto;
    height: 30vh;
    padding: 2em 1em;
    background-image: url(./joy.png);
    object-fit: cover;
    background-size: cover;
    background-color: blueviolet;
    opacity: 0.9;
    order: -1;
    
}

}
.head{
  border-bottom: 2px solid purple;
  color:black;
}